{% extends "base.html" %}
{% block content %}
<h1>Projects</h1>
<div class="container">
        <table>
            <tr>
            <th>Project Title</th><th>Description</th><th>Max Grade</th></tr>
            {% for row in project_data %}
                <tr><td><a href="{{ "/project?project_title=" + row[0] }}">{{row[0]}}</a></td><td> {{row[1]}}</td> <td>{{row[2]}}</td></tr>
            {% endfor %}
        </table>
</div>

<div class="container">
<h3>Create new project</h3>
        <form action="/newproject" class="multifield">
            <label for="title">Title:</label> <input type="text" name="title" /><br />
            <label for="description">Description:</label> <input type="text" name="description" /><br />
            <label for="max_grade">Max Grade:</label> <input type="text" name="max_grade" /><br />
            <div class="clearfix"></div>
            <input type="submit">
        </form>
</div>
{% endblock %}