{% extends "base.html" %}
{% block content %}

        <h1>Hackbright Student Database</h1>
        <div id="student" class="container">
        <h2>Students</h2>
        <form action="/student">
            <h3>Look up student via Github ID</h3>
            <input type="text" name="student" />
            <input type="submit">
        </form>



{% include 'add_stud_form.html' %}
    </div>
    <div id="project" class="container">
        <h2>Projects</h2>
        <form action="/project">
            <h3>Look up project name</h3>
            <input type="text" name="project_title" />
            <input type="submit">
        </form>

        {% include 'add_proj_form.html'%}
    </div>


{% endblock %}