{% extends "base.html" %}
{% block content %}
<h1>{{project_title}}</h1>

<div class="container">
        {% if request.args.get("github") and request.args.get("grade") %}
            <p><em>Successfully added grade of {{request.args.get("grade")}} for student {{request.args.get("github")}}</em></p>
        {% endif %}

        <table>
            <tr><th>Github Account</th><th>Grade</th></tr>
            {% for row in project_rows %}
            <tr><td><a href="{{ "/student?student=" + row[0] }}"> {{row[0]}}</a> </td><td>{{row[1]}}</td></tr>
            {% endfor %}
        </table>
</div>

<div class="container">

        <h3>Grade student on existing project</h3>
        <form action="/grade" method="POST" class="multifield">
            <label for="github">Github Account:</label> <input type="text" name="github" />
            <input type="hidden" name="project_title" value="{{project_title}}"/>
            <label for="grade">Grade:</label> <input type="text" name="grade" />
            <div class="clearfix"></div>
            <input type="submit">
        </form>
</div>
        <!-- Handle case where project name does not exist, or there are no grades for that project yet -->
{% endblock %}