{% extends "base.html" %}
{% block content %}
<h1>Student: {{last_name}}, {{first_name}}</h1>
<div class="container">
        <h2>Github: {{github}}</h2>

        <table>

        {% if request.args.get("project_title") and request.args.get("grade") %}
            <p><em>Successfully added grade of {{request.args.get("grade")}} for project {{request.args.get("project_title")}}</em></p>
        {% endif %}
            
            <tr><th>Project</th><th>Grade</th></tr>
            {% for row in grade_rows %}
                <tr>
                    <td><a href="{{ "/project?project_title=" + row[0] }}">{{row[0]}}</a></td>
                    <td>{{row[1]}}</td></tr>
            {% endfor %}
        </table>
</div>
<div class="container">
    <h3>Grade student on existing project</h3>
        <form action="/student" class="multifield">
            <input type="hidden" name="student" value="{{github}}"/>
            <label for="project_title">Title:</label> <input type="text" name="project_title" />
            <label for="grade">Grade:</label> <input type="text" name="grade" />
            <div class="clearfix"></div>
            <input type="submit">
        </form>
</div>
{% endblock %}